body{
    background-color: rgb(175, 202, 236);
    justify-content: center;
}

.header{
    font-size: 30px;
    background-color: rgb(149, 186, 231);
}

.form-group{
    width: 60%;
   
}

#testBtn{
    margin-top:10px;
    width: 30%;
    margin-left: 35%;
}

#weather-icon{
    height:100px;
    width: 100px;
}

#previousList{
    margin: auto;
    justify-content: start;

}

#previousList button{
    width:24.3%;
    margin:5px;
}

.fiveDay{
    background-color: rgb(149, 186, 231);
}